header{
  background-color: skyblue;
  margin: 5px;
  padding: 20px;
  font-weight: bold;
}
body{
  background-color: lightslategrey;
}
.nav{
  margin-top: 5px;
  padding: 10px;
  font-weight: bold;
  color: black;
}
li{
  list-style: none;
}
ul{
  display: flex;
  justify-content: space-around;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  background-color: black;
  color: white;
}
body {
  background-color: lightslategrey;
}
h4, h5, h6, a {
  margin:0; padding:0;
}
.login {
  margin:0 auto;
  max-width:300px;
}
.login-header {
  color: gold;
  text-align:center;
  font-size:300%;
}
/* .login-header h1 {
   text-shadow: 0px 5px 15px #000; */
.login-form {
  border:.5px solid rgb(179, 11, 142);
  background:#4facff;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;
}
.login-form h5 {
  text-align:left;
  margin-left:40px;
  color:#fff;
}
.login-form {
  box-sizing:border-box;
  padding-top:15px;
    padding-bottom:10%;
  margin:5% auto;
  text-align:center;
}
.login input[type="text"],
.login input[type="password"] {
  max-width:400px;
    width: 80%;
  line-height:3em;
  font-family: 'Ubuntu', sans-serif;
  margin:1em 2em;
  border-radius:5px;
  border:2px solid #F2F2F2;
  outline:none;
  padding-left:10px;
}
.login-form input[type="button"] {
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #F2F2F2;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}
.sign-up{
  color:#f2f2f2;
  margin-left:-70%;
  cursor:pointer;
  text-decoration:underline;
}
.no-access {
  color:#1c0a85;
  margin:20px 0px 20px -57%;
  text-decoration:underline;
  cursor:pointer;
}
.try-again {
  text-align: center;
  color:#1c0a85;
  text-decoration:underline;
  cursor:pointer;
}
/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px){
  .login-form h5 {
    text-align:center;
    margin:0;
  }
  .sign-up, .no-access {
    margin:10px 0;
    padding:10px;
    width:50%;
}
  }
  .login-button {
    margin-bottom:10px;
  }
#footer{
  background-color: skyblue;
  margin-top: 100px;
  padding: 150px;
}
h5{
  margin-top: 5px;
  float: right;
  padding-top: 20px;
  font-size: larger;
  font-weight: bolder;
  height: 50px;
}
h4{
  margin-top: 5px;
  float: left;
  padding-top: 20px;
  font-size: larger;
  font-weight: bolder;
  height: 50px;
}
h6{
  margin-top: 5px;
  float: left;
  padding-top: 20px;
  font-size: larger;
  font-weight: bolder;
  height: 50px;
