header{
    background-color: skyblue;
    margin 5px;
    padding: 20px;
    font-weight: bold;
}
body{
    background-calor: lightslategrey;
}
.nav{
    margin-top: 5px;
    padding: 10px;
    font-weight: bold;
    color: black;
}
li{
    list-style: none;
}
ul{
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: black;
    color: white;
}
.sign-up{
    width:500px;
    padding:20px;
    margin: 8% auto 0;
    text-align: center;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
    background: white;
}
#input-box{
    padding: 10px;
    margin: 10px 0;
    width:95%;
    outline: none;
}
button{
    font-size: 15px;
    margin:10px 0;
    padding:10px;
    width:50%;
 }
 #footer{
     background-color:skyblue;
     margin-top: 100px;
     padding:150px;
 }
 h5{
     margin-top: 5px;
     float; right;
     padding-top: 20px;
     font-size: larger;
     font-weight: bolder;
     height: 50px;
 }
 h4{
     margin-top: 5px;
     float: left;
     padding-top: 20px;
     font-size: larger;
     font-weight: bolder;
     heigth: 50px;
 }
 h6{
     margin-top: 5px;
     float:left;
     padding-top: 20px;
     font-size: larger;
     font-weight: bolder;
     height: 50px;
 }